.register-form {
  text-align: 15px;
}
<<<<<<< HEAD

.login-form {
  text-align: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: #000;
  text-align: 17px;
}
=======
>>>>>>> fd6a49cda36ced328a3d5f845ea774b93c01be03
