.register-form {
  text-align: 15px;
}

.login-form {
  text-align: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  color: #000;
  text-align: 17px;
}
